extends layout

block content
  h1 Express Sayayin OP eZ pZ Heroku API
  p Welcome to Express alv
  a(href="/") ir a tdc alv
  h2 Cheques mother fucker
  ul
    li
      a(href="https://cards-service-mock.herokuapp.com/accounts/V00/accounts?accountType=CHECK_ACCOUNT") List Accounts
      span https://cards-service-mock.herokuapp.com/accounts/V00/accounts?accountType=CHECK_ACCOUNT
    li
      a(href="https://cards-service-mock.herokuapp.com/accounts/V00/accounts/movements/AHMXP0000001?paginationKey=&initialDate=&finalDate=&period=&numMovements&period=&amountMin=&amountMax=") Movements
      span https://cards-service-mock.herokuapp.com/accounts/movements/AHMXP0000001?paginationKey=&initialDate=&finalDate=&period=&numMovements&period=&amountMin=&amountMax=
    li
      a(href="http://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/periods?paginationKey=") Periods 
      span http://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/periods?paginationKey=
    li
      a(href="http://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/accountStatement?periodId=PERIOD0001&type=pdf") getAccountStatement 
      span http://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/accountStatement?periodId=PERIOD0001&type=pdf
    li
      a(href="https://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/sendAccountStatement") sendAccountStatement (POST)
      span https://cards-service-mock.herokuapp.com/accounts/V00/accounts/AHMXP0000001/sendAccountStatement