extends layout

block content
  h1= message
  h2= error.status
  img(src="https://media3.giphy.com/media/oViON4HxVdRi8/200.gif#1", alt="")
  img(src="https://media.giphy.com/media/g0amAdejYOeZO/giphy.gif", alt="")
  pre #{error.stack}
