extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
  img(src="https://media.giphy.com/media/fyevWXLoTRKlG/giphy.gif")
  img(src="http://1.bp.blogspot.com/-6hMHuY20M-U/VlFUJyWbC4I/AAAAAAAAAHs/nATSEib1KpY/s1600/John-Travolta-Vincent-Vega-Pulp-Fiction-Tiempos-Violentos-gif%2Btransparente.gif")
