extends layout

block content
  h1 Express Heroku API
  p Welcome to Services for GlobalNet
  a(href="./payments") ir a payments  
  h2 Payments
  ul
    li
      a(href="https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICIE&concept=&agreement=001131507") BalancePaymentPlan (Desactive Agreement)
      span https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICIE&concept=&agreement=001131507
    li
      a(href="https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICIE&concept=&agreement=001131508") BalancePaymentPlan (With Amount)
      span https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICIE&concept=&agreement=001131508
    li
      a(href="https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICI&concept=&agreement=001131508") BalancePaymentPlan (Without Amount)
      span https://ngob-services.herokuapp.com/payments/V00/getBalancePaymentPlan/?reference=PRUEBAAPICI&concept=&agreement=001131508
      
