extends layout

block content
  h1 Express Heroku API
  p Welcome to Express
  a(href="/") ir a TDC
  a(href="./cheques") ir a cheques
  h2 PosicionGlobal (dashboard)
  ul
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT") dashboard TT
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT,contract==00743616562092377152") dashboard SI
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT,contract==00743616562092377152
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/tsec") getTsec (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/tsec
    li
      a(href="https://cards-service-mock.herokuapp.com/operations/V00/getPDFDocuments") getPDFDocuments(POST)
      span https://cards-service-mock.herokuapp.com/operations/V00/getPDFDocuments
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/campaigns") campaigns
      span https://cards-service-mock.herokuapp.com/dashboard/V00/campaigns
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/userInfo") UserInfo
      span https://cards-service-mock.herokuapp.com/dashboard/V00/userInfo
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/systemDate") systemDate
      span https://cards-service-mock.herokuapp.com/dashboard/V00/systemDate
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/logs") logs (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/logs
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp?otp=12345678") validateOtp
      span https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp?otp=12345678
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp") validateOtp (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/banners") banners (campañas informativas)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/banners
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dropDownMenu?typeProduct&page=page") dropDownMenu (menu quiero)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dropDownMenu?typeProduct&page=page