extends layout

block content
  h1 Express Heroku API
  p Welcome to Services for NGOB
  a(href="/") ir a TDC
  a(href="./cheques") ir a cheques
  a(href="./dashboard") ir a dashboard
  a(href="./operations") ir a operations
  h2 Transfers
  ul
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=30") frequentOperations (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=30
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001") creditCardPayment/{idCreditCard}  (POST)
      br
      span creditCardId. TDC a pagar (URL param) 
      br
      span https://ngob-services.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001
      ul
        li  li aplicationDate en LINEA o PROGRAMDA  {"senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPeriodic":false,"aplicationDate":"2017-08-29","amount":"10"}
          br
          br
          span -senderAccountId. ID Cuenta Cargo
          br 
          span -concept. Si no aplica enviar vacio
          br 
          span -isPeriodic. FALSE
          br 
          span -aplicationDate. Fecha del dia actual (LINEA) Fecha futura (PROGRAMADA)
          br 
          span -amount. cantidad a pagar
          br 
          **span Para un Pago PROGRAMADO solo se envia en aplicactionDate una fecha mayor al dia de actual
        li PERIODICA {"senderAccountId":"CHMXP0000002","concept":"PAGO SEMANAL","isPeriodic":true,"aplicationDate":"2017-08-29","endDate":"2017-09-30","period":"WEEKLY","amount":"10"}
          br
          br
          span -senderAccountId. ID Cuenta Cargo
          br 
          span -concept. Sera el nombre de la periodica
          br 
          span -isPeriodic. TRUE para periodicas, FALSE en otro caso
          br 
          span -aplicationDate. Fecha de inicio
          br 
          span -endDate. fecha Fin...
          br 
          span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
          br 
          span -amount. cantidad a pagar
       
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/listSenderAccounts") listSenderAccountsALL (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/listSenderAccounts
      ul
        li https://ngob-services.herokuapp.com/transfers/V00/listSenderAccounts 
          b Muestra todas las cuentas de retiro v&aacute;lidas 
        li https://ngob-services.herokuapp.com/transfers/V00/listSenderAccounts?operationType=PAY_CREDITCARD 
          b Muestra las cuentas de retiro v&aacute;lidas para TDC 
          i (puede ir el id informado en accountId o no)
        li https://ngob-services.herokuapp.com/transfers/V00/listSenderAccounts?operationType=PAY_CREDITCARD
          br
          br
          Si tsec es 1234567890 devuelve error, sin cuentas v&aacute;lidas para operar
          br
          Si tsec es 123456 devuelve solo 1 cuenta v&aacute;lida
          br
          Sin tsec devuelve 2 cuentas v&aacute;lidas
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/listReceiverAccounts") listReceiverAccounts (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/listReceiverAccounts
      ul
        li https://ngob-services.herokuapp.com/transfers/V00/listReceiverAccounts?operationType=PAY_CREDITCARD&accountId=TCMXP0000001 
          b Muestra las cuentas de deposito v&aacute;lidas para TDC 
          i (puede ir el id informado en accountId o no)
        li https://ngob-services.herokuapp.com/transfers/V00/listReceiverAccounts?operationType=PAY_CREDITCARD&accountId=TCMXP0000001
          br
          br
          Si tsec es 1234567890 devuelve error, sin cuentas deposito para operar
          br
          Si tsec es 123456 devuelve solo 1 cuenta de deposito
          br
          Sin tsec devuelve 2 cuentas de deposito
    li
        a(href="https://ngob-services.herokuapp.com/transfers/V00/myAccountsTransfer") myAccountsTransfer (POST)
        span https://ngob-services.herokuapp.com/transfers/V00/myAccountsTransfer
        ul
          li aplicationDate en LINEA o PROGRAMDA  {"receiverAccountId":"CHMXP0000001","senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPeriodic":false,"aplicationDate":"2017-08-29","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Si no aplica enviar vacio
            br 
            span -isPeriodic. FALSE
            br 
            span -aplicationDate. Fecha del dia actual (LINEA) Fecha futura (PROGRAMADA)
            br 
            span -amount. cantidad a transferir
            br 
            span **Para una transferencia PROGRAMADA solo se envia en aplicactionDate una fecha mayor al dia de actual
          li PERIODICA {"receiverAccountId":"CHMXP0000001","senderAccountId":"CHMXP0000002","concept":"AHORRO","isPeriodic":true,"aplicationDate":"2017-08-29","endDate":"2017-09-29","period":"WEEKLY","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Sera el nombre de la periodica
            br 
            span -isPeriodic. TRUE para periodicas, FALSE en otro casoli aplicationDate. Fecha de inicio
            br 
            span -endDate. fecha Fin...
            br 
            span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
            br 
            span -amount. cantidad a transferir
    li
        a(href="https://ngob-services.herokuapp.com/transfers/V00/cashAdvanceFee") cashAdvanceFee (POST)
        span https://ngob-services.herokuapp.com/transfers/V00/cashAdvanceFee
        ul
          li aplicationDate en LINEA o PROGRAMDA {"receiverAccountId":"CHMXP0000001","senderAccountId":"TCMXP0000002","concept":"TESTNGOB","isPeriodic":false,"aplicationDate":"2017-08-29","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Si no aplica enviar vacio
            br 
            span -isPeriodic. FALSE
            br 
            span -aplicationDate. Fecha del dia actual (LINEA) Fecha futura (PROGRAMADA)
            br 
            span -amount. cantidad a transferir
            br 
            span **Para una transferencia PROGRAMADA solo se envia en aplicactionDate una fecha mayor al dia de actual
          li PERIODICA {"receiverAccountId":"CHMXP0000001","senderAccountId":"TCMXP0000002","concept":"AHORRO","isPeriodic":true,"aplicationDate":"2017-08-29","endDate":"2017-09-29","period":"WEEKLY","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Sera el nombre de la periodica
            br 
            span -isPeriodic. TRUE para periodicas, FALSE en otro casoli aplicationDate. Fecha de inicio
            br 
            span -endDate. fecha Fin...
            br 
            span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
            br 
            span -amount. cantidad a transferir
    li
        a(href="https://ngob-services.herokuapp.com/transfers/V00/otherAccountsTransfer") otherAccountsTransfer (POST)
        span https://ngob-services.herokuapp.com/transfers/V00/otherAccountsTransfer
        ul
          li aplicationDate en LINEA o PROGRAMDA  {"senderAccountId":"CHMXP0000001","frequentId":"FRTT000001","concept":"TESTNGOB","isPeriodic":false,"aplicationDate":"2017-08-29","amount":"10"}
            br
            br
            span -frequentId. ID de la operacion frecuente 
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Si no aplica enviar vacio
            br 
            span -isPeriodic. FALSEgit
            br 
            span -aplicationDate. Fecha del dia actual (LINEA) Fecha futura (PROGRAMADA)
            br 
            span -amount. cantidad a transferir
            br 
            span **Para una transferencia PROGRAMADA solo se envia en aplicactionDate una fecha mayor al dia de actual
          li PERIODICA {"senderAccountId":"CHMXP0000001","frequentId":"FRTT000001","concept":"AHORRO","isPeriodic":true,"aplicationDate":"2017-08-29","endDate":"2017-09-29","period":"WEEKLY","amount":"10"}
            br
            br
            span -frequentId. ID de la operacion frecuente 
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Sera el nombre de la periodica
            br 
            span -isPeriodic. TRUE para periodicas, FALSE en otro caso
            br
            span -aplicationDate. Fecha de inicio
            br 
            span -endDate. fecha Fin...
            br 
            span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
            br 
            span -amount. cantidad a transferir
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=spei") loadBanks (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=spei
      ul
        li https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=clabe
        li https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=tdd
        li https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=tdc
        li https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=otroscreditos
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=otroscreditos&cveBank=30167") loadBanks (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/loadBanks?operationType=otroscreditos&cveBank=30167
    li
      a(href="/transfers/V00/sendEmailTransfers?operationId=0000213004&beneficiaryEmail=example@example.com&titularCopy=true") sendEmailTransfers (GET)
      span /transfers/V00/sendEmailTransfers?operationId=0000213004&beneficiaryEmail=example@example.com&titularCopy=true
    li
      a(href="https://ngob-services.herokuapp.com/transfers/V00/getSequences?initDate=2017-10-30&transferType=PAYMENT_CREDITCARD&period=WEEKLY&repetitions=5") getSequences (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/getSequences?initDate=2017-10-30&transferType=PAYMENT_CREDITCARD&period=WEEKLY&repetitions=5
       ul
        li transferType
        br 
        span MY_ACCOUNTS
        br 
        span THIRD_PARTY
        br 
        span INTERBANK
    li   
      a(href="https://ngob-services.herokuapp.com/transfers/V00/searchFrequents?word=prueba") searchFrequents (GET)
      span https://ngob-services.herokuapp.com/transfers/V00/searchFrequents?word=prueba