extends layout

block content
  h1 Express Heroku API
  p Welcome to Express
  a(href="./cheques") ir a cheques
  a(href="./dashboard") ir a dashboard
  a(href="./operations") ir a operations
  h2 Transfers
  ul
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=10") frequentOperations (GET)
      span https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=10
      ul
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=6&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=16&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=interbank&paginationKey=&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=third_party&paginationKey=&numMovsFreq=10
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001)
      span href="https://cards-service-mock.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001
      ul
        li LINEA { "chargeAccount": "CHMXP0000001",  "concept": "TEST NGOB",  "isPerdiodic": "FALSE",  "aplicationDate": "14/08/2017",  "amount":"100"}
        li PROGRAMADA { "chargeAccount": "CHMXP0000001",  "concept": "PROGRAM",  "isPerdiodic": "FALSE",  "aplicationDate": "31/08/2017",  "amount":"100" }
        li PERIODICA { "chargeAccount": "CHMXP0000001",  "concept": "PERIODICA",  "isPerdiodic": "FALSE",  "aplicationDate": "08/08/2017",  "amount":"100",  "repetitions":"2",  "period":"Semanal" }