extends layout

block content
  h1 Express Heroku API
  p Welcome to Express
  a(href="/") ir a TDC
  a(href="./cheques") ir a cheques
  a(href="./dashboard") ir a dashboard
  a(href="./operations") ir a operations
  h2 Transfers
  ul
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=10") frequentOperations (GET)
      span https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=&numMovsFreq=10
      ul
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=6&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=&paginationKey=16&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=interbank&paginationKey=&numMovsFreq=10
        li https://cards-service-mock.herokuapp.com/transfers/V00/frequentOperations?typeOpFrequent=third_party&paginationKey=&numMovsFreq=10
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001") creditCardPayment/{idCreditCard}  -  creditCardId. TDC a pagar (URL param)
      span https://cards-service-mock.herokuapp.com/transfers/V00/creditCardPayment/TCMXP0000001
      ul
        li aplicationDate Dia Actual{"senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPerdiodic":"FALSE","aplicationDate":"18/08/2017","amount":"10"}
          br
          br
          span -chargeAccount. ID Cuenta Cargo
          br 
          span -concept. Si no aplica enviar vacio
          br 
          span -isPerdiodic. FALSE
          br 
          span -aplicationDate. Fecha del dia actual
          br 
          span -amount. cantidad a pagar
        li PROGRAMADA {"senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPerdiodic":"FALSE","aplicationDate":"18/08/2017","amount":"10"}
          br
          br
          span -chargeAccount. ID Cuenta Cargo
          br 
          span -concept. Si no aplica enviar vacio
          br 
          span -isPerdiodic. FALSE
          br 
          span -aplicationDate. Fecha en que se aplicara el traspaso
          br 
          span -amount. cantidad a pagar
        li PERIODICA {"senderAccountId":"CHMXP0000002","concept":"PAGO SEMANAL","isPerdiodic":"TRUE","aplicationDate":"17/08/2017","endDate":"17/09/2017","period":"WEEKLY","amount":"10"}
          br
          br
          span -chargeAccount. ID Cuenta Cargo
          br 
          span -concept. Sera el nombre de la periodica
          br 
          span -isPerdiodic. TRUE para periodicas, FALSE en otro caso
          br 
          span -aplicationDate. Fecha de inicio
          br 
          span -endDate. fecha Fin...
          br 
          span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
          br 
          span -amount. cantidad a pagar
       
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/listSenderAccounts") listSenderAccountsALL (GET)
      span https://cards-service-mock.herokuapp.com/transfers/V00/listSenderAccounts
      ul
        li https://cards-service-mock.herokuapp.com/transfers/V00/listSenderAccounts 
          b Muestra todas las cuentas de retiro v&aacute;lidas 
        li https://cards-service-mock.herokuapp.com/transfers/V00/listSenderAccounts?operationType=PAY_CREDITCARD 
          b Muestra las cuentas de retiro v&aacute;lidas para TDC 
          i (puede ir el id informado en accountId o no)
        li https://cards-service-mock.herokuapp.com/transfers/V00/listSenderAccounts?operationType=PAY_CREDITCARD
          br
          br
          Si tsec es 1234567890 devuelve error, sin cuentas v&aacute;lidas para operar
          br
          Si tsec es 123456 devuelve solo 1 cuenta v&aacute;lida
          br
          Sin tsec devuelve 2 cuentas v&aacute;lidas
    li
      a(href="https://cards-service-mock.herokuapp.com/transfers/V00/listReceiverAccounts") listReceiverAccounts (GET)
      span https://cards-service-mock.herokuapp.com/transfers/V00/listReceiverAccounts
      ul
        li https://cards-service-mock.herokuapp.com/transfers/V00/listReceiverAccounts?operationType=PAY_CREDITCARD&accountId=TCMXP0000001 
          b Muestra las cuentas de deposito v&aacute;lidas para TDC 
          i (puede ir el id informado en accountId o no)
        li https://cards-service-mock.herokuapp.com/transfers/V00/listReceiverAccounts?operationType=PAY_CREDITCARD&accountId=TCMXP0000001
          br
          br
          Si tsec es 1234567890 devuelve error, sin cuentas deposito para operar
          br
          Si tsec es 123456 devuelve solo 1 cuenta de deposito
          br
          Sin tsec devuelve 2 cuentas de deposito
    li
        a(href="https://cards-service-mock.herokuapp.com/transfers/V00/myAccountsTransfer") myAccountsTransfer
        span https://cards-service-mock.herokuapp.com/transfers/V00/myAccountsTransfer
        ul
          li aplicationDate Dia Actual {"receiverAccountId":"CHMXP0000001","senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPerdiodic":"FALSE","aplicationDate":"18/08/2017","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Si no aplica enviar vacio
            br 
            span -isPerdiodic. FALSE
            br 
            span -aplicationDate. Fecha del dia actual
            br 
            span -amount. cantidad a transferir
          li PROGRAMADA {"receiverAccountId":"CHMXP0000001","senderAccountId":"CHMXP0000002","concept":"TESTNGOB","isPerdiodic":"FALSE","aplicationDate":"18/08/2017","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Si no aplica enviar vacio
            br 
            span -isPerdiodic. FALSE
            br 
            span -aplicationDate. Fecha en que se aplicara el traspaso
            br 
            span -amount. cantidad a transferir
          li PERIODICA {"receiverAccountId":"CHMXP0000001","senderAccountId":"CHMXP0000002","concept":"AHORRO","isPerdiodic":"TRUE","aplicationDate":"17/08/2017","endDate":"17/09/2017","period":"WEEKLY","amount":"10"}
            br
            br
            span -receiverAccountId. Cuenta Abono
            br 
            span -senderAccountId. Cuenta Cargo
            br 
            span -concept. Sera el nombre de la periodica
            br 
            span -isPerdiodic. TRUE para periodicas, FALSE en otro casoli aplicationDate. Fecha de inicio
            br 
            span -endDate. fecha Fin...
            br 
            span -period. WEEKLY, FORTNIGHT, MONTHLY o BIMONTHLY
            br 
            span -amount. cantidad a transferir


